@import url("./reset.css");
@import url("./font.css");

:root {
  --gray-color: #f3f2f0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  font-variant-numeric: tabular-nums;
}

/* common */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.btn-base {
  background: hsla(0, 0%, 96%, 0.05);
  border: 1px solid rgba(27, 29, 34, 0.15);
  border-radius: 6px;
  overflow: hidden;
  padding: 8px 12px;
  position: relative;
  cursor: pointer;
}
.tag {
  border: 1px solid rgba(27, 29, 34, 0.1);
  border-radius: 56px;
  cursor: pointer;
  padding: 8px 12px;
  position: relative;
}
.card {
  background: #fff;
  padding: 4px;
}
.card-inner {
  background-color: var(--gray-color);
  border-radius: 8px;
  position: relative;
  z-index: 1;
}
.flex-center {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* width */
.w-full {
  width: 100%;
}

/* padding */
.p-24 {
  padding: 24px;
}
.px-24 {
  padding: 0 24px;
}
.py-24 {
  padding: 24px 0;
}
.p-48 {
  padding: 48px;
}
.font-noto-serif-kr {
  font-family: "NotoSerifKR", serif;
  line-height: 1.2;
}
.text-32 {
  font-size: 32px;
}
.text-36 {
  font-size: 36px;
}
.text-14 {
  font-size: 14px;
}

/* Home ----- MainCard */
.main-card {
  padding: 12px;
}
.main-card__header {
  border-radius: 8px;
  background-color: #fff;
  height: 38px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
}
.main-card__header .title {
  display: flex;
  align-items: center;
}
.main-card__header .title::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: gray;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 8px;
  vertical-align: middle;
}
.main-card__header .toggle {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid var(--gray-color);
  background-color: #fff;
}
.main-card__content {
  padding: 48px;
  height: 300px;
  box-sizing: border-box;
}

/* Project ----- ProjectHeader */
.project-header__inner {
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.project-header__intro .title {
  letter-spacing: 1px;
  position: relative;
  left: 3px;
}
.project-header__intro .year {
  letter-spacing: -2px;
}
.project-header__intro .hyphen {
  position: relative;
  bottom: 6px;
  font-size: 24px;
  display: inline-block;
  margin: 0 4px;
}
.project-header__tabs .text {
  position: relative;
  left: 3px;
}
.project-header__tabs .tabs {
  margin-top: 16px;
  display: flex;
  gap: 4px;
}

/* Project ----- ProjectCard */
.project-card__image-wrapper {
  height: 200px;
}
.project-card__image-wrapper .image {
  height: 100%;
  width: 100%;
  background-color: #fff;
}
.project-card__content {
  padding-bottom: 24px;
}
.project-card__footer {
  padding-bottom: 24px;
}
